{
  "extends": ["standard-with-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "globals": {
    "JSX": true,
    "Record": true
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["warn", "double"],
    "comma-dangle": ["error", "only-multiline"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/promise-function-async": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/quotes": ["warn", "double"],
    "@typescript-eslint/restrict-template-expressions": ["error", { "allowAny": true }],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
