{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx", "standard-react"],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["warn", "double"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }]
  }
}